In [1]:
from cassandra.cluster import Cluster

cluster = Cluster()

In [2]:
session = cluster.connect()

In [ ]:
query = session.execute("""CREATE KEYSPACE emp
WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 1};""")

In [3]:
query = session.execute("""SELECT * FROM system_schema.keyspaces;""")
for row in query:
    print(row[0])

system_auth
system_schema
dse_system_local
dse_system
dse_leases
solr_admin
dse_insights
dse_insights_local
tutorialspoint
system_distributed
system_backups
system
emp
dse_perf
system_traces
dse_security

In [ ]:
query = session.execute("""USE emp;""")
for row in query:
    print(row)

In [ ]:
query = session.execute("""CREATE TABLE emp(
   emp_id int PRIMARY KEY,
   emp_name text,
   emp_city text,
   emp_sal varint,
   emp_phone varint
   );""")

for row in query:
    print(row)

In [8]:
query = session.execute("""SELECT * FROM emp.emp;""")
for row in query:
    print(row)

In [11]:
strings = ["""INSERT INTO emp.emp (emp_id, emp_name, emp_city, emp_phone, emp_sal) VALUES(1,'ram', 'Hyderabad', 9848022338, 50000);""",
           """INSERT INTO emp.emp (emp_id, emp_name, emp_city, emp_phone, emp_sal) VALUES(2,'robin', 'Hyderabad', 9848022339, 40000);""", 
           """INSERT INTO emp.emp (emp_id, emp_name, emp_city,   emp_phone, emp_sal) VALUES(3,'rahman', 'Chennai', 9848022330, 45000);"""]

In [12]:
for row in strings:
    session.execute(row)

In [13]:
query = session.execute("""SELECT * FROM emp.emp;""")
for row in query:
    print(row)

Row(emp_id=1, emp_city='Hyderabad', emp_name='ram', emp_phone=9848022338, emp_sal=50000)
Row(emp_id=2, emp_city='Hyderabad', emp_name='robin', emp_phone=9848022339, emp_sal=40000)
Row(emp_id=3, emp_city='Chennai', emp_name='rahman', emp_phone=9848022330, emp_sal=45000)