# MERS - LEARNING
## Auto Insurance Fraud Detection

### Exploratory Data Analysis / Initial Exploration on Public Data (Kaggle)

In [2]:
# Imports

import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import pointbiserialr, stats
from imblearn.over_sampling import SMOTE, ADASYN 

from sklearn import metrics
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, cross_val_score, KFold, RandomizedSearchCV, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import AdaBoostClassifier,RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, roc_auc_score

from xgboost import XGBClassifier
from xgboost import plot_importance

from mlens.ensemble import SuperLearner
from mlens.visualization import corrmat 

from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix


%config InlineBackend.figure_format = 'retina'
%matplotlib inline


pd.set_option('display.max_columns', 2000)
pd.set_option('display.max_rows', 500)

In [3]:
fraud_df = pd.read_csv('Data/insurance_claims.csv')

In [4]:
fraud_df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300,0,25-01-2015,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0,0,21-01-2015,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100,0,22-02-2015,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,10-01-2015,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,board-games,unmarried,66000,-46000,17-02-2015,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [7]:
missing_stats = []

for col in fraud_df.columns:
    missing_stats.append((col, fraud_df[col].nunique(), fraud_df[col].isnull().sum() * 100 / fraud_df.shape[0], fraud_df[col].value_counts(normalize=True, dropna=False).values[0] * 100, fraud_df[col].dtype))
    
stats_df = pd.DataFrame(missing_stats, columns=['feature', 'unique_values', 'percent_missing', 'percent_biggest_cat', 'type'])
stats_df.sort_values('percent_missing', ascending=False)

,feature,unique_values,percent_missing,percent_biggest_cat,type
0,months_as_customer,391,0.0,0.8,int64
29,witnesses,4,0.0,25.8,int64
22,incident_state,7,0.0,26.2,object
23,incident_city,7,0.0,15.7,object
24,incident_location,1000,0.0,0.1,object
25,incident_hour_of_the_day,24,0.0,5.4,int64
26,number_of_vehicles_involved,4,0.0,58.1,int64
27,property_damage,3,0.0,36.0,object
28,bodily_injuries,3,0.0,34.0,int64
30,police_report_available,3,0.0,34.3,object
20,incident_severity,4,0.0,35.4,object
31,total_claim_amount,763,0.0,0.5,int64
32,injury_claim,638,0.0,2.5,int64
33,property_claim,626,0.0,1.9,int64
34,vehicle_claim,726,0.0,0.7,int64
35,auto_make,14,0.0,8.0,object
36,auto_model,39,0.0,4.3,object
37,auto_year,21,0.0,5.6,int64
21,authorities_contacted,5,0.0,29.2,object
19,collision_type,4,0.0,29.2,object
1,age,46,0.0,4.9,int64
9,insured_zip,995,0.0,0.2,int64
2,policy_number,1000,0.0,0.1,int64
3,policy_bind_date,951,0.0,0.3,object
4,policy_state,3,0.0,35.2,object
5,policy_csl,3,0.0,35.1,object
6,policy_deductable,3,0.0,35.1,int64
7,policy_annual_premium,991,0.0,0.2,float64
8,umbrella_limit,11,0.0,79.8,int64
10,insured_sex,2,0.0,53.7,object
18,incident_type,4,0.0,41.9,object
11,insured_education_level,7,0.0,16.1,object
12,insured_occupation,14,0.0,9.3,object
13,insured_hobbies,20,0.0,6.4,object
14,insured_relationship,6,0.0,18.3,object
15,capital-gains,338,0.0,50.8,int64
16,capital-loss,354,0.0,47.5,int64
17,incident_date,60,0.0,2.8,object
38,fraud_reported,2,0.0,75.3,object